.faq_section__box {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
details{
    background-color:none;
    border-radius: var(--standard-border-radius);
    margin-bottom: 1rem;
    padding: 0.7rem 1rem;
    box-shadow: var(--shadow);
}
summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.44rem;
    padding: 0.7rem 1rem;
    margin: 0.2rem -1rem;
    word-break: break-all;
    transition: all 0.3s ease-in-out;
}
details[open]{
    border: 0.15rem solid var(--accent);
}
details[open] > summary + * {
    margin-top: 0;
}
details[open] > summary {
    margin-bottom: 0.5rem;
}
details[open] > :last-child {
    margin-bottom: 0;
}
details summary::-webkit-details-marker {
    display: none
}
details > summary {
    list-style: none;
    position: relative;
    padding-right: 2rem;
}
details summary:before {
    content: '\f0fe';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 free";
    margin-right: 0.7rem;
}
details[open] summary:before {
    content: '\f146';
}
.faq_content a{
    color: var(--accent);
    text-decoration: none;
}
.faq_content ul li {
    margin-left: 1.2rem; 
}

@media only screen and (max-width: 720px) {
    summary {
        font-size: 1.25rem;
    }
}