.footer {
    bottom: 0;
    display:flex;
    background: var(--element_d);
    margin-top: auto;
}
.footer_box{
    padding: 0 1rem;
    width: 100%;
    height: max-content;
    max-width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper_footer, .lower_footer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
}
.footer__navigation {
    list-style-type: none;
    justify-content: left;
    padding-right: 1rem;
}
.footer__meta {
    padding-left: 1rem;
}
.meta {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.footer__navigation, .meta, .footer__pay_methods, .footer__copyrite{
    margin: 0.5rem 0;
}
.footer__links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.footer__links li{
    list-style-type: none;
}
.footer__links a, .contacts a, .contacts p, .nets a, .agree_link, .copyrite{
    color: var(--element_l);
}
.footer__links a, .contacts a, .contacts p{
    font-size: 1rem;
}
.agree_link, .copyrite{
    font-size: 0.8rem;
}
.contacts p, .footer__copyrite h6{
    margin: 0;
}
.nets i{
    font-size: 1.8rem;
}
.footer__links a{
    font-weight: bold;
}
.agree_link {
    font-weight: normal;
}
.footer__links a:hover, .contacts a:hover, .agree_link:hover{
    color:var(--accent);
}
.contacts, .nets, .footer__copyrite {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.contacts, .meta{
    gap: 2rem;
}
.nets {
    gap: 1rem;
}
.contacts__div {
    position: relative;
    height: 50%;
}
.contacts__div::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -1rem;
    height: 100%;
    width: 0.05rem;
    background-color: var(--element_l);
}
.upper_footer::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 0.05rem;
    background-color: var(--element_l);
}
.footer__pay_methods {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20%;
    height: 100%;
}
.footer__pay_methods img{
    max-width: 100%;
}
.footer__copyrite {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    height: 50%;
}


@media (max-width: 1240px){
    .upper_footer, .lower_footer{
        flex-direction: column;
    }
    .footer__navigation {
        padding-right: 0rem;
    }
    .footer__meta {
        padding-left: 0;
    }
    .meta, .footer__copyrite {
        justify-content: left;
    }
    .footer__pay_methods {
        width: 30%;
    }
}
@media (max-width: 740px){
    .footer__links{
        justify-content: space-between;
    }
    .meta{
        display: none;
    }
    .footer__copyrite{
        flex-direction: column;
    }
    .footer__pay_methods{
        justify-content: center;
        align-self: center;
        object-fit: scale-down;
    }
}
@media (max-width: 576px){
    .footer__links a, .contacts a{
        font-size: 0.9rem;
    }
    .footer__links{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        text-align: center;
    }
    .footer__pay_methods {
        width: 50%;
    }
}
@media (max-width: 354px){
    .footer__links a, .contacts a{
        font-size: 0.8rem;
    }
}
