.form_section {
    margin-top: 5rem;
    background-color: var(--element_l);
    border-radius: var(--standard-border-radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.form_section__left {
    width: 35%;
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.form_section__left::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 0.1rem;
    right: 15px;
    top: 50%;
    background: var(--accent);
    transform:translateY(-50%);
}
.form__contacts {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__contacts i{
    font-size: 1.5rem;
    color: var(--accent);
    margin-bottom: 1rem;
}
.form__contacts a{
    color: var(--element_d);
}
.form__contacts a:hover{
    color: var(--accent);
}
.form_section__right {
    width: 55%;
    margin-left: 3rem;
    margin-right: 2rem;
    padding: 1rem;
    position: relative;
}
.true_form {
    margin-top: 1.5rem;
}
.send_form_btn {
    background-color: var(--accent);
    color: var(--element_l);
    border-radius: 5px;
    border-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.15rem;
    min-height: 2rem;
    width: 100%;
    transition: 0.3s;
    font-style: none;
}
.send_form_btn:hover {
    filter: brightness(150%);
}

@media (max-width: 992px){
    .form_section_div {
        width: 90%;
        padding: 0.5rem;
    }
}

@media (max-width: 720px){
    .form_section {
        margin: 1rem;
        flex-direction: column-reverse;
    }

    .form_section__left {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form_section__left::before {
       display: none;
    }

    .form_section__right {
        width: 75%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .send_form_btn {
        width: 100%;
    }

    textarea{
        resize: none;
        background-color: white;
        height: 12rem;
        min-width: 100%;
    }
}