.services_section {
    border-style: none;
}
.services_section__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
    gap: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.service {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    align-items: center;
    padding: 1rem;
    background: transparent;  
    cursor:pointer;
    transition: transform 0.5s, background 0.5s;
}
.service:hover{
    /* background: var(--accent); */
    transform:scale(1.05);
}
.service:active{
    transform:scale(0.95);
}
.service_btn{
    margin: 0;
    padding: 0;
}
.service_btn:hover{
    color: var(--accent);
}
.service .service_btn h4{
    margin-bottom: 0;
}
.service_img img {
    width: clamp(150px, 20vw, 200px);
    height: clamp(150px, 20vw, 200px);
    background-size: cover;
}
.services_section__block_link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
} 
.services_section__block_link a{
    color: var(--element_d);
    text-decoration:underline;
    font-weight: bold;
    font-size: clamp(1.25rem, 3vw, 1.44rem);
    &:hover {
        color: var(--accent);
    }
} 

